# Django-related files
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
*.py[cod]
*.sqlite3

# Environments
.env
venv/
virtualenv/

# Django Migrations
*/migrations/*
!*/migrations/__init__.py

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
*.swp
*.swo
