{% extends 'PayRollApp/Base.html' %}

{% block title %}Employee Update{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Employee Update</h2>

  <form action="" method="post">
    <table class="table">
        {{ form.as_table }}
    </table>
    <div class="mt-4">
      {% csrf_token %}
      <input type="submit" value="Update Record" class="btn btn-success">  
      <a href="{% url 'employe_list' %}" class="btn btn-secondary">Back to Employee List</a>
    </div>
  </form>
</div>
{% endblock %}
